*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
#terminal{
    background-color: rgb(59, 29, 42);
    width: 500px;
    height: 300px;
    padding: 10px 5px;
}
#terminal-content{
    display: flex;
    flex-direction: column;
}
.instruction{
    display: flex;
}
.terminal-row, .terminal-column{
    display: flex;
}
.terminal-row{
    flex-wrap: wrap;
}
.terminal-row p::after{
    content: '\00a0 \00a0';
}
.terminal-column{
    flex-direction: column;
}
.terminal-path{
    display: flex;
    margin-right: 10px;
}
#terminal p{
    color: white;
}
#terminal .terminal-user{
    color: rgb(94, 166, 94);
}
#terminal .terminal-folder{
    color: rgb(105, 105, 215);
}
#terminal input{
    background: none;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
}
