*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
body{
    background-color: rgb(22, 22, 27);
    height: 100vh;
    display: grid;
    place-items: center;
}
.window-border{
    background-color: rgb(196, 194, 194);
    padding-top: 36px;
    position: relative;
    border: solid 1px rgb(196, 194, 194);
    border-radius: 8px;
    box-shadow: 0 10px 30px #00000080;
}
.window-border.black{
    background-color: rgb(33, 31, 40);
    border: solid 1px rgb(33, 31, 40);
}
.window-border.dark-purple{
    background-color: rgb(51, 51, 51);
    border: solid 1px rgb(68, 68, 68);
}
.window-bar{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}
.window-tabs{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 10px;
}
.window-tab{
    width: 250px;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px 8px 0 0 ;
    transition: .2s;
}
.window-tab.active, .window-tab:hover{
    background-color: rgb(233, 233, 233);
    transition: .2s;
}
.black .window-tab.active, .black .window-tab:hover{
    background-color: rgb(56, 51, 72);
}
.dark-purple .window-tab.active, .dark-purple .window-tab:hover{
    background-color: rgb(46, 17, 35);
}
.window-tab img{
    width: 18px;
    height: auto;
}
.window-tab p{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.black .window-tab p{
    color: white;
}
.dark-purple .window-tab p{
    color: white;
}
.window-buttons{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
.window-buttons button{
    background: none;
    width: 50px;
    height: 36px;
    color: black;
    font-size: 14px;
    font-weight: 300;
    border: none;
    transition: .2s;
}
.black .window-buttons button, .dark-purple .window-buttons button{
    color: rgb(147, 147, 147);
}
.window-buttons button:nth-child(3){
    border-radius: 0 8px 0 0;
}
.window-buttons button:hover{
    background-color: #FFFFFF20;
    color: white;
    transition: .2s;
}
.window-buttons button:nth-child(3):hover{
    background-color: #cb0000;
    transition: .2s;
}
.window-app{
    width: 700px;
    height: 400px;
    padding: 20px 18px 20px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    border-radius: 0 0 8px 8px;
}
#terminal{
    background-color: rgb(46, 17, 35);
}
#terminal::-webkit-scrollbar {
    width: 8px;
}
#terminal::-webkit-scrollbar-track {
    background: #F2F2F230;
    border-radius: 0 0 8px 0;
}
#terminal::-webkit-scrollbar-thumb {
    background: #F2F2F230;
    border-radius: 0 0 8px 0;
}
#terminal::-webkit-scrollbar-thumb:hover {
      background: #F2F2F288;
}
#terminal-content{
    display: flex;
    flex-direction: column;
}
.terminal-path{
    display: flex;
    margin-right: 10px;
}
#terminal .terminal-user{
    color: lightgreen;
}
#terminal .terminal-folder{
    color: blue;
}
#terminal .executable{
    color: gold;
}
#terminal .help{
    color: greenyellow;
}
#termional .external-link{
    color: cyan;
}
.terminal-row, .terminal-column{
    display: flex;
}
.terminal-row{
    flex-wrap: wrap;
}
.terminal-row p::after{
    content: '\00a0 \00a0';
}
.terminal-column{
    flex-direction: column;
}
#terminal p{
    color: white;
}
#command-line{
    width: 100%;
    display: flex;
}
#command-line .terminal-path{
    display: flex;
}
#command-line input{
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    outline: none;
}
.navigation-bar{
    height: 30px;
    padding: 2px;
    display: flex;
    align-items: center;
    position: relative;
}
.navigation-buttons, .navigation-finder, .navigation-finder label, .navigation-options{
    display: flex;
    align-items: center;
    gap: 4px;
}
.navigation-buttons{
    position: absolute;
    top: 2px;
    left: 20px;
}
.navigation-finder{
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}
.navigation-options{
    position: absolute;
    top: 2px;
    right: 20px;
}
.navigation-bar button{
    background: none;
    width: 24px;
    height: 24px;

    display: grid;
    place-items: center;
    color: gray;
    border: none;
    transition: .2s;
}
.material-symbols-outlined, .material-icons{
    font-size: 20px
}
.navigation-bar button:hover, .navigation-bar label:hover{
    background-color: #FFFFFF30;
    transition: .2s;
}
.navigation-finder input{
    background: none;
    width: 300px;
    padding: 4px 8px;
    color: white;
    font-family: 'Lato', sans-serif;
    border: solid 1px transparent;
    border-radius: 4px;
    outline: none;
    transition: .2s;
}
.navigation-finder input:focus{
    border: solid 1px #FFFFFF50;
    transition: .2s;
}
.navigation-finder label input{
    display: none;
}
.navigation-finder label input ~ span{
    color: gray;
    font-size: 20px;
}
.navigation-finder label input:checked ~ span{
    color: rgb(255, 204, 0);
}
#chrome{
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.chrome-home{
    width: 100%;
    height: 100%;
}
.chrome-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.chrome-instagram{
    display: none;
}
.chrome-youtube{
    display: none;
}
.chrome-logo{
    display: flex;
}
.chrome-logo span{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 500;
}
.chrome-logo span:nth-child(1){
    color: rgb(0, 106, 255);
}
.chrome-logo span:nth-child(2){
    color: rgb(193, 44, 44);
}
.chrome-logo span:nth-child(3){
    color: rgb(255, 204, 0);
}
.chrome-logo span:nth-child(4){
    color: rgb(0, 106, 255);
}
.chrome-logo span:nth-child(5){
    color: rgb(49, 159, 56);
}
.chrome-logo span:nth-child(6){
    color: rgb(193, 44, 44);
}
#google-home-label{
    width: 80%;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: solid 1px rgb(226, 226, 226);
    border-radius: 20px;
}
#google-home-label:hover{
    box-shadow: 0 0px 5px rgb(198, 198, 198);
}
#google-home-label span{
    color: rgb(60, 60, 60);
    font-size: 14px;
}
#google-home-label input{
    background: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
}
.google-home-button{
    background: rgb(245, 245, 245);
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.google-home-button:hover{
    box-shadow: 0 0px 10px rgb(198, 198, 198);
}
.chrome-error{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.chrome-error-message{
    width: 400px;
    position: absolute;
    top: 70px;
}
.chrome-error-message img{
    width: 72px;
}
.chrome-error-message p, .chrome-error-message p span{
    font-family: 'Lato', sans-serif;
}
.chrome-error-message p:nth-child(2){
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}
.chrome-error-message p:nth-child(3){
    margin-bottom: 4px;
    font-size: 16px;
}
.chrome-error-message p:nth-child(4){
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 300;
}
.chrome-error-message p span{
    font-weight: 700;
}
.chrome-error-message button{
    background: none;
    background-color: rgb(103, 135, 205);
    padding: 4px 12px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s;
}
.chrome-error-message button:hover{
    background-color: rgb(61, 86, 140);
    transition: .2s;
}
.chrome-search{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}
.chrome-search-finder{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.chrome-search-finder .logo{
    color: rgb(93, 93, 93);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
.chrome-search-finder label{
    background-color: #f0f0f0;
    width: 50%;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: .2s;
}
.chrome-search-finder label:hover, .chrome-search-finder label:focus-within{
    box-shadow: 0 0px 5px rgb(198, 198, 198);
    transition: .2s;
}
.chrome-search-finder label input{
    background: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
}
.chrome-search-finder label span{
    background: none;
    font-size: 18px;
    border: none;
}
.chrome-search-filter{
    padding: 5px 10px;
    display: flex;
    gap: 12px;
    border-bottom: solid 1px rgb(198, 198, 198);
}
.chrome-search-filter p{
    display: flex;
    align-items: center;
    gap: 4px;
}
.chrome-search-filter p .material-symbols-outlined{
    color: rgb(93, 93, 93);
    font-size: 12px;
}
.chrome-search-filter span:nth-child(2){
    color: rgb(93, 93, 93);
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.chrome-search-content{
    display: flex;
    flex-direction: column;
}
.chrome-search-content article{
    padding: 20px;
    display: flex;
}
.chrome-search-element{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.chrome-search-element-tab-data{
    display: flex;
    align-items: center;
    gap: 8px;
}
.chrome-search-element-tab-data img{
    width: 20px;
    height: auto;
}
.chrome-search-element-name{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.chrome-search-element-link{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.chrome-search-element-name-large{
    color: rgb(103, 135, 205);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.chrome-search-element-description{
    width: 500px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.chrome-search-element-tags{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.chrome-search-element-tags p{
    color: rgb(103, 135, 205);
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 700;
}
.chrome-search-content-site-img{
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
}
.chrome-instagram{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chrome-youtube{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}